{% extends 'base2.html' %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
<table>
    <tr>
        <td>Userlist</td>
        <td><select name="t1" id="">
            {% for d in data %}
            <option value="{{d.0}}">{{d.0}}</option>
            {% endfor %}
        </select></td>
    </tr>
    <tr>
        <td><input type="submit" name="block" value="BLOCK"><input type="submit" name="unblock" value="UNBLOCK"></td>
    </tr>
</table>
</form>
{% endblock%}


       